.footer {
    bottom: 0%;
    position: fixed;
    background-color: darkslategray;
    width: 100%;
    left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.footer-text {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
}
.footer-div {
    text-align: center;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    position: sticky;
    border-radius: 15px;
}
.nav button {
    float: left;
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    transition-duration: 0.5s;
}
.nav button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}