.footer {
    bottom: 0%;
    position: fixed;
    background-color: darkslategray;
    width: 100%;
    left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.footer-text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
}
.footer-div {
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
em {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}