.login h1 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    padding-top: 20px;
}
.login .form {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 2px solid black;
}
.form input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form input[type=submit]:hover {
    background-color: #45a049;
}