.sponsors .header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sponsors .header h1 {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}
.sponsors .header h2 {
    padding-bottom: 20px;
    margin-top: auto;
    text-align: center;
}
.sponsors .sponsorlist {
    margin-left: 1.5%;
}
.sponsorlist a {
    display: inline;
}